


 <script src="...javascripts/carousel"></script>
 <link rel="stylesheet" type="text/css" href="carousel.css">
<h1>Projects</h1>
 <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Endeavour Tattoo <span class="text-muted">-Original Site</span></h2>
          <p class="lead">This is a hard-coded site, with some use of bootstrap</p>
        </div>
        <div class="col-md-5">
        
         <a href="http://www.endeavourtattoo.ca/index.php" ><img class="featurette-image img-responsive center-block" img src="images/endv.jpg" alt="Original Endeavour Tattoo"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Endeavour Tattoo <span class="text-muted">- New Site</span></h2>
          <p class="lead">This site was mainly made with wordpress and bootstrap, and quite a lot of custom css</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
         <a href="http://www.endeavourtattoo.ca/public_html/wp/"> <img class="featurette-image img-responsive center-block" data src="images/endeavourNew.jpg" alt="New Endeavour Tattoo"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Dr. Stone Landscaping <span class="text-muted">- Now offline</span></h2>
          <p class="lead">Dr Stone was a hard-coded website, with no use of frameworks.  The owner has recently put his business on hiatus, so the site is no longer live</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" img src="images/drStone.jpg" alt="Dr. Stone Landscaping">
        </div>
      </div>

      <hr class="featurette-divider">
      
      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
   