
<!-- rows-->
<div class="row">
    <div class="col-md-4">
        <h2>About Me</h2>
        <img src = "images/vick.jpg">
        <p>Want to know more about me? Click here to find out</p>
        </br>
        <p>
            <a class="btn btn-default" href="/about" role="button">Go to About Me
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Portfolio</h2>
        <img src = "images/portfolio.jpg">
        <p>This is where my body of work can be found.  This includes links to live
        	sites that I have worked on</p>
        <p>
            <a class="btn btn-default" href="/projects" role="button">Go to Gallery
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <img src ="images/contact.jpg">
        <p>Interested in my work>? Looking for a cleaner, more responsive site?
        	Click here to contact me
      
        </p>
        <p>
            <a class="btn btn-default" href="/contact" role="button">Contact
                &raquo;</a>
        </p>
    </div>
</div>