/**
 * @author Victoria Gillis
 * partial for services content
 */
//<link href="public/offcanvas" rel="stylesheet">
<link href="public/style.css" rel= "stylesheet">

    <!-- Custom styles for this template -->
    <link href="public/offcanvas.css" rel="stylesheet">
<body>
    
 
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
       //     <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
          <br/>
          
            <h1>Services</h1>
            <p>Here is a brief overview of some of the services I offer, as well as the languages I use</p>
          </div>
          <div class="row">
            <div class="col-xs-6 col-lg-4">
              <h2><img src="images/html.jpg"></h2>
              <h3>HTML</h3>
              <p>Html is the basic language pretty well every website uses.  I am very comfortable with HTML 5</p>
              
            </div><!--/.col-xs-6.col-lg-4-->
            
            <div class="col-xs-6 col-lg-4">
              <h2><img src="images/jvs.jpg"></h2>
              <h3>Javascript</h3>
              <p>Javascript runs a lot of the background applications on websites. I am adept at writing javascript</p>
            </div><!--/.col-xs-6.col-lg-4-->
           
            <div class="col-xs-6 col-lg-4">
              <h2><img src="images/css.jpg"></h2>
              <h3>CSS</h3>
              <p> CSS is the styling of website. CSS 3 is the newest version, and I use it often. </p>
             
            </div><!--/.col-xs-6.col-lg-4-->
            
            
            </div><!--row-->
             <div class="row row-offcanvas row-offcanvas-right">
             <div class="col-xs-6 col-lg-4">
              <h2><img src="images/wordpress.jpg"></h2>
              <h3>Wordpress</h3>
             <p>WordPress is a framework, which provides themes and styles for websites.  I mainly use it for CMS, as I find that WordPress websites all look the same.</p>
             
            </div><!--/.col-xs-6.col-lg-4-->
            
             <div class="col-xs-6 col-lg-4">
              <h2><img src="images/social.jpg"></h2>
              <h3>Social Media Managment</h3>
              <p> In this day, a strong social media presence is necessary for a business to grow.  I am great at managing Twitter, Facebook, and Instagram accounts.  I can help train employees on the proper way
              to update these accounts as well. </p>
              
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2><img src="images/seo.jpg"></h2>
              <h3>SEO</h3>
              <p>Making a gorgeous website is pointless if people are unable to find it. SEO, or Search Engine Optimization, is the act of making a website more findable. I use modern techniques,
              such as dublin core, metadata, responsiveness, backlinking, and many other tools</p>
              
              
            </div><!--/.col-xs-6.col-lg-4-->
           
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
            
    <script type="text/javascript">
        $(document).ready(function() {
            $('#services').addClass("active");
        });
    </script>
  
    <script src="https://code.jquery.com/jquery.js"></script>
  
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        </body>