
<% include partials/header %>
<body>
    <% include partials/navbar %>
 
    <div class="container">
        <div class="page-header">
        <br/>
        <br/>
            <h1>
               About Me   
            </h1>
           
        </div>
       <div class="row">
        <div class="col-md-4">
         <img src= "images/vick2.jpg" >
         
        </div>
        <div class="col-md-4">
          <h2>A Bit About Me</h2>
          <p>I have been interested in computers since I was a kid, and have always enjoyed taking things apart to see what makes them tick.  I don't have a lot of spare time, but 
          when I find myself procrastinating, I usually do so by playing video games, drawing, or reading.
          I am not, nor will I ever be, a content writer!!</p>
       </div>
       </div>
 </div>
        
  
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <% include partials/footer %>
  
</body>
</html>
