<!--
@author Victoria Gillis
Home page

 -->
<% include partials/header %>
<body>
    <% include partials/navbar %>
 
    
    <div class="jumbotron">
        <div class="container">
            <h1>Victoria Gillis Portfolio</h1>
            <p>Hello.  This is my portfolio of work.  </p>
          
        </div>
    </div>
 
 <!--link to content partial -->
    <div class="container">
        <% include partials/content %>
        <hr>
 
    
    </div>
   
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
  
   
         <% include partials/footer %>
</body>
</html>
