
<% include partials/header %>
<body>
    <% include partials/navbar %>
    
    
   </br>
   </br>

  
   
   <%include partials/carousel.ejs %>
    
    <% include partials/footer %>

 <script type="text/javascript">
        $(document).ready(function() {
            $('#projects').addClass("active");
        });
    </script>
   
</body>
</html>
